h2 {
    font-size: 32px;
    color: #2356fe;
}

h3 {
    color: #00796b;
    font-weight: 700;
}

blockquote {
    margin: 10px 0;
    margin-bottom: 20px;
    padding: 10px 20px;
    background: #e0f7fa;
    border-left: 5px solid #00796b;
    font-style: italic;
}

ul {
    margin: 10px 0;
    padding-left: 20px;
    list-style-type: disc;

    li {
        margin: 5px 0;
    }
}

strong {
    color: #00796b;
}