.steps-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px; /* Adjust width as needed */
  margin: 0 auto;
}

.step {
  display: flex;
  align-items: center;
  margin: 10px 0;
  text-align: left;
  position: relative;
}

.icon {
  width: 50px;
  height: 50px;
  background-color: #4c6ef5; /* Blue background for the icon */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.icon img {
  width: 24px;
  height: 24px;
}

.content {
  margin-left: 10px;
}

.content h3 {
  font-size: 16px;
  margin: 0;
  color: #333;
}

.content p {
  font-size: 14px;
  margin: 0;
  color: #555;
}

.connector {
  width: 2px;
  height: 40px;
  background-color: black;
  margin: 0 auto;
}
